.single-games .more-thumbnail, .single-athletes .more-thumbnail {
  display: block;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: -owg-linear-gradient(135deg, rgba(25, 118, 210, .4) 0, rgba(25, 118, 210, 0) 50%, rgba(25, 118, 210, 0) 100%), -owg-linear-gradient(45deg, rgba(0, 200, 83, 0) 0, rgba(0, 200, 83, 0) 50%, rgba(0, 200, 83, .4) 100%), -owg-linear-gradient(transparent 5%, rgba(0, 0, 0, .8) 100%);
    background: -webkit-linear-gradient(135deg, rgba(25, 118, 210, .4) 0, rgba(25, 118, 210, 0) 50%, rgba(25, 118, 210, 0) 100%), -webkit-linear-gradient(45deg, rgba(0, 200, 83, 0) 0, rgba(0, 200, 83, 0) 50%, rgba(0, 200, 83, .4) 100%), -webkit-linear-gradient(transparent 5%, rgba(0, 0, 0, .8) 100%);
    background: -moz-linear-gradient(135deg, rgba(25, 118, 210, .4) 0, rgba(25, 118, 210, 0) 50%, rgba(25, 118, 210, 0) 100%), -moz-linear-gradient(45deg, rgba(0, 200, 83, 0) 0, rgba(0, 200, 83, 0) 50%, rgba(0, 200, 83, .4) 100%), -moz-linear-gradient(transparent 5%, rgba(0, 0, 0, .8) 100%);
    background: -o-linear-gradient(135deg, rgba(25, 118, 210, .4) 0, rgba(25, 118, 210, 0) 50%, rgba(25, 118, 210, 0) 100%), -o-linear-gradient(45deg, rgba(0, 200, 83, 0) 0, rgba(0, 200, 83, 0) 50%, rgba(0, 200, 83, .4) 100%), -o-linear-gradient(transparent 5%, rgba(0, 0, 0, .8) 100%);
    background: linear-gradient(135deg, rgba(25, 118, 210, .4) 0, rgba(25, 118, 210, 0) 50%, rgba(25, 118, 210, 0) 100%), linear-gradient(45deg, rgba(0, 200, 83, 0) 0, rgba(0, 200, 83, 0) 50%, rgba(0, 200, 83, .4) 100%), linear-gradient(transparent 5%, rgba(0, 0, 0, .8) 100%);
    -webkit-transition: opacity, .25s, ease-out;
    -moz-transition: opacity, .25s, ease-out;
    -o-transition: opacity, .25s, ease-out;
    transition: opacity .25s ease-out;
  }
  &:hover::after {
    opacity: 0
  }

  img {
    display: block;
  }
}