.hero {
  position: relative;
  height: 30rem;
  .featured-article-content {
    z-index: 12;
    position: relative;
    top: 3rem;
    min-height: 15rem;
    h1 {
      @extend .mb-3;
      @extend .anaglyph;
      a {
        color: $white;
      }
    }
  }
  .featured-article-image {
    z-index: 8;
    position: relative;
    min-height: 13rem;
  }
  .featured-article-bg {
    z-index: 4;
    position: absolute;
    width: 28rem;
    min-height: 36rem;
    right: 2%;
    @extend .linearBg2;
    @extend .hidden-md-down;
  }
}

.featured-article-wrapper {
  @extend .container-fluid;
  @extend .py-5;
  @extend .mb-5;
  background: url('../i/Unknown-1.jpeg') center center no-repeat scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  .featured-article {
    @extend .container;
    @extend .hero;
  }
}

@media (min-width: 48em) and (max-width: 62em) {
  .hero {
    height: 21rem;
    width: 75%;
    .featured-article-content {
      position: absolute;
      width: 25rem;
      right: 40%;
    }
    .featured-article-image {
      position: absolute;
      width: 30rem;
      min-height: 13rem;
      left: 30%
    }
  }
}

@media (min-width: 62em) {
  .hero {
    height: 36rem;
    width: 75%;
    .featured-article-content {
      position: absolute;
      width: 28rem;
      top: 8rem;
      right: 48%;
    }
    .featured-article-image {
      position: absolute;
      width: 40rem;
      min-height: 28rem;
      top: 4rem;
      right: 10%
    }
  }
}


// Featured Athletes

/* Image zoom on hover + Overlay colour */

.parent {
  width: 100%;
  height: 460px;
  overflow: hidden;
  position: relative;
  cursor: pointer;

  &:hover .child, &:focus .child {
    -ms-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: all 3.5s linear;
    -moz-transition: all 3.5s linear;
    -o-transition: all 3.5s linear;
    transition: all 3.5s linear;
  }
  &:hover .child:before, &:focus .child:before, &:hover a, &:focus a {
    display: block;
  }

  &.slim {
    max-height: 230px!important;
  }

  .child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.1s;
    -moz-transition: 0.1s;
    -o-transition: 0.1s;
    transition: 0.1s;

    span {
      text-align: center;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 50px;
      cursor: pointer;
      /*text-decoration: none;*/
      a {
        color: $white;
      }
    }
  }
}

.more-athletes-section {
  width: 100%;
  height: 230px;
  overflow: hidden;
  position: relative;
  .more-athletes-content {
    height: 100%;
    width: 100%;
    background-image: url('../i/Unknown-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    span {
      text-align: center;
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 50px;
      //cursor: pointer;
      /*text-decoration: none;*/
    }
  }
}